.product-name {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.product-medium-thumb {
    padding: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.product-description {
    padding: 10px;
    line-height: 15px;
    height: 60px;
}

.product-size {

}

.product-weight {

}

.product-price {

}

.button-add-to-cart {

}

.product-container-row {

}

.product-detail {
    background: transparent;
}

.product-detail-name {

}

.product-detail-description {

}

.product-detail-size {

}

.product-detail-weight {

}

.product-detail-price {

}

.product-detail-btn-add-to-cart {

}

.product-detail-btn-close {

}

.product-detail-thumb {
    background: transparent;
    width: 450px;
    height: 450px;
}